
.submitbtn{
   background-color:#323565 ;
   border: 0px;
   border-radius: 12px;
   color: white;
   height: 40px;
   
   
}




.login{
 border-radius: 20px;
 
 background: linear-gradient(
   to left,
   #dff4f5 0%,
   #dff4f5 50%,
  white 50%,
     white 100%
);
margin-top: 5% ;
margin-bottom: 5%;}

section{
   background: linear-gradient(
      to right,
      #dff4f5 0%,
      #dff4f5 50%,
     #323565 50%,
     #323565 100%
  );
  overflow: hidden;
}
